.dockerignore
Dockerfile

*.swp
*.log

.git
.gitignore
.gitmodules

build/*
data/*
images/*

__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover

node_modules

AngoraMDB/
examples/
lib/
sdk/
test/
test-api/
thirdparty/
unittest*/
venv*/
*.bck