nohup*
target/
.idea/
.idea_modules/
data/
.DS_Store
.vagrant
*.swp
*.pyc
*.bck

build/
lib/
tmp/
venv/

thirdparty/
derby.log
metastore_db/
conf/angora.conf
logs/
lib/API
lib/iris-spark-sql-1.0-SNAPSHOT-jar-with-dependencies.jar
lib/mobigen-iris-jdbc-1.5.0.21.jar
lib/sqlite-jdbc-3.7.15-SNAPSHOT.jar
docs/command-syntax.md
docs/commands.zip
docs/en/commands.md
docs/ko/commands.md
.scannerwork/